@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
    --bug-color: #C7D370;
    --dark-color: #A6968B;
    --dragon-color: #A581FD;
    --electric-color: #FAE27B;
    --fairy-color: #E5B3CC;
    --fighting-color: #D97C79;
    --fire-color: #FF994D;
    --flying-color: #C9B9F7;
    --ghost-color: #A896BE;
    --grass-color: #ACDC8F;
    --ground-color: #EDD79F;
    --ice-color: #BDE7E5;
    --normal-color: #C9C8AC;
    --poison-color: #C686C4;
    --psychic-color: #FB95B4;
    --rock-color: #D1C481;
    --steel-color: #D2D2E0;
    --water-color: #9EBAF6;
}

body {
    background: #F0F0F0;
    font-family: 'Poppins', sans-serif;
}